[submodule "3u_aura/apps/contracts/lib/forge-std"]
	path = 3u_aura/apps/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3u_aura/apps/contracts/lib/ERC721A"]
	path = 3u_aura/apps/contracts/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
