DATABASE_USER=postgres
DATABASE_PASSWORD=change-me
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=change-me
AUTH_JWT_SECRET=replace-with-a-long-random-secret
AUTH_JWT_REFRESH_SECRET=replace-with-another-long-random-secret
AUTH_JWT_SECRET_EXPIRES_SECONDS=604800
AUTH_JWT_REFRESH_SECRET_EXPIRES_SECONDS=2592000
